@font-face {
font-family: 'A Charming Font Superexpanded';
font-style: normal;
font-weight: normal;
src: local('A Charming Font Superexpanded'), url('Achafsex.woff') format('woff');
}

h1{
  font-family: 'A Charming Font Superexpanded';
}